---
- include_role:
    name: k3s

- include_role:
    name: dt-operator
  vars:
    dt_operator_release: "{{ dtOperatorVersion }}"
    operator_mode: "{{ dtOperatorMode }}"

- include_role:
    name: dt-activegate-classic
  vars:
    activegate_install_synthetic: true

- name: Source Private Synthetic Node ID
  include_role:
    name: dt-activegate-classic
    tasks_from: source-node-id
  when: dt_synthetic_node_id is not defined 

- include_role:
    name: monaco-v2
  vars:
    monaco_version: "v{{ monacoVersion }}"

- set_fact:
    role_path_abs: "{{ role_path }}"

- name: Monaco - Deploy configuration
  include_role:
    name: monaco-v2
    tasks_from: apply-monaco
  vars:
    monaco_manifest_path: "{{ role_path_abs }}/files/monaco/manifest.yaml"
    monaco_environment:
      INGRESS_PROTOCOL: "{{ ingress_protocol }}"
      INGRESS_DOMAIN: "{{ ingress_domain }}"
      SYNTH_NODE_ID: "{{ dt_synthetic_node_id | default(None) }}"
      DT_PLATFORM_TENANT_URL: "{{ extra_vars.dt_environment_url_gen3.rstrip('/') }}"
      DT_OAUTH_CLIENT_ID: "{{ extra_vars.dt_oauth_client_id }}"
      DT_OAUTH_CLIENT_SECRET: "{{ extra_vars.dt_oauth_client_secret }}"
      DT_OAUTH_SSO_ENDPOINT: "{{ extra_vars.dt_oauth_sso_endpoint.rstrip('/') }}"

- set_fact:
    role_path_abs: "{{ role_path }}"

- include_role:
    name: app-easytravel
  vars:
    easytravel_image_tag: "{{ easytravel_version }}"

- include_role:
    name: app-easytrade

- set_fact:
    include_dashboard_value_file: "{{ role_path }}/templates/apps-dashboard.yml.j2"

- include_role:
    name: dashboard
    tasks_from: template-values-file

- include_role:
    name: dashboard


